alembic==1.11.3
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
dnspython
email-validator==2.0.0.post2
Flask
Flask-Cors==4.0.0
Flask-Login==0.6.2
flask-marshmallow==0.15.0
Flask-Migrate==4.0.4
Flask-SQLAlchemy
Flask-WTF==1.1.1
greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
marshmallow
marshmallow-sqlalchemy==0.29.0
packaging==23.1
Pillow==10.0.0
psycopg2-binary==2.9.7
python-dateutil==2.8.2
python-dotenv
requests
six==1.15.0
SQLAlchemy==2.0.20
typing_extensions==4.7.1
urllib3==2.0.4
Werkzeug
WTForms==3.0.1
