{% extends 'base.html' %}
{% block content %}

<header class="container-fluid header-bg bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
          <div class="hdr-text-box text-center">
            <h2 class="display-4">Profile</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

<section class="profile-section bg-dark text-light text-center shadow mb-20">
  <div class="container p-5 bg-dark">
    <div class="row">
      <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
        <h1 class="col text-center">
          {{ current_user.first_name}} {{ current_user.last_name}}'s profile
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="profile-section">

  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
    </div>
  </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

</section>
<!-- endblock -->



<!-- <section class="text-center">
  <div class="container p-10">
    <div class="row">
      <br />
      <h3 class="p-5">Here are your profile details</h3>
      <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Username: {{ current_user.username }}</li>
        <li class="list-group-item">Token: {{ current_user.token }}</li>
      </ul>
    </div>

  </div>
</section> -->


<!-- <section class="container profile-container profile-container-bg">
  <div class="row">
    <div class="col-md-8 mx-auto">

      <div class="profile-section bg-light my-5 d-flex justify-content-evenly align-items-center">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="profile-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>

    </div>
  </div>
</section> -->


{% endblock %}
